<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974162696103-kfa92p1ftma7rooe2avtjka2o3jhqg42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974162696103-kfa92p1ftma7rooe2avtjka2o3jhqg42</string>
	<key>API_KEY</key>
	<string>AIzaSyAOKOVxRuZezsHVFEB8QAH6Fw7RljZLwtY</string>
	<key>GCM_SENDER_ID</key>
	<string>974162696103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.YourBooks</string>
	<key>PROJECT_ID</key>
	<string>yourbooks-f1f3d</string>
	<key>STORAGE_BUCKET</key>
	<string>yourbooks-f1f3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974162696103:ios:a81cdf2200cb227c5cc882</string>
</dict>
</plist>